body {
    font-family: "Times New Roman";
    background-color: #f2f2f2;
}

.container {
    width: 80%;
    margin: auto;
    background: white;
    padding: 20px;
    border: 1px solid black;
}

h1, h2 {
    text-align: center;
}

footer {
    margin-top: 25px;
    text-align: center;
    font-size: 14px;
}
